@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll-y::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll-y::-webkit-scrollbar-track {
  background: #0f172a;
}

.custom-scroll-y::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}

.custom-scroll-y::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scroll-y {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}

.custom-scroll-x::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll-x::-webkit-scrollbar-track {
  background: #0f172a;
}

.custom-scroll-x::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}

.custom-scroll-x::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scroll-x {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}

